{% extends "layout.html"%}

{% block title %}
    Course
{% endblock %}

{% block body %}
<form action="{{ url_for('course')}}" method="POST">
        <div class="container">
            <h1>Course Info</h1>
            <hr>
            <label for="course_id"><b>Course Id</b></label>
            <input type="text" placeholder="Enter Course Id" name="course_id" required>
            <label for="name"><b>Course Name</b></label>
            <input type="text" placeholder="Enter Course Name" name="name" required>
            <button type="submit" class="button">Submit</button>
        </div>
</form>
{% endblock %}
