{% extends "layout.html"%}

{% block title %}
    Department
{% endblock %}

{% block body %}
<form action="{{ url_for('department')}}" method="post">
        <div class="container">
            <h1>Department Info</h1>
            <hr>
            <label for="dept_id"><b>Department Id</b></label>
            <input type="text" placeholder="Enter Department Id" name="dept_id" required>
            <label for="dept_name"><b>Department Name</b></label>
            <input type="text" placeholder="Enter Department Name" name="dept_name" required>
            <button type="submit" class="button">Submit</button>
        </div>
</form>
{% endblock %}
