<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
    <nav>
        <a href="{{url_for('student')}}">STUDENT</a>
        <a href="{{url_for('faculty')}}">FACULTY</a>
        <a href="{{url_for('department')}}">DEPARTMENT</a>
        <a href="{{url_for('course')}}">COURSE</a>
        <a href="{{url_for('project')}}">PROJECT</a>
        <a href="{{url_for('student_data')}}">STUDENT INFO</a>
        <a href="{{url_for('faculty_data')}}">FACULTY INFO</a>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>