*{
    box-sizing:border-box;
}

.container{
    padding: 38px;
}

input[type=text], input[type=date]{
    width: 100%;
    padding: 15px;
    display: inline-block;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
   
}
label{
    font-size: 20px;
}

input[type=text]:focus, input[type=date]:focus{
    background-color: #ddd;
    outline: none;
}

hr{
    border: 1px solid #f1f1f1;
   
}

.button{
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

.button:hover {
    opacity: 1;
}
